[mysqld]
datadir					=	/var/lib/mysql
bind-address			=	0.0.0.0
port					=	3306
sql_mode				=	"STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
default_storage_engine	=	innodb
# Default value of this variable is 0 for unix based systems which means names
#  (db, table etc) will be compared in case-sensitive manner causing trouble. 
# Seting this to 1 makes sure that names are NOT compared in case-sensitive manner.
lower_case_table_names	=	1
user					=	mysql
[client]
port					=	3306